# General
.DS_Store
Thumbs.db

# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
*.log
backend/staticfiles/

# Node / Javascript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
dist/
web-build/

# IDEs
.vscode/
.idea/
